<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE JposEntries PUBLIC "-//JavaPOS//DTD//EN" "jpos/res/jcl.dtd">
<JposEntries>
  <!--Saved by JavaPOS jpossim.config/loader (JCL) version 2.1.0-RC3 on 27.03.03 21:15-->

  <JposEntry logicalName="FiscalPrinter.1">
    <creation factoryClass="com.ncr.jpossim.JposServiceInstanceFactorySim" serviceClass="com.ncr.jpossim.FiscalPrinterServiceSim"/>
    <vendor name="NCR" url="http://www.ncr.com"/>
    <jpos category="FiscalPrinter" version="1.7"/>
    <product description="Fiscal printer EMU" name="Fiscal Printer" url="http://www.ncr.com"/>
    <prop name="onOff" value="false, 2"/>
  </JposEntry>

  <JposEntry logicalName="Scanner.1">
    <creation factoryClass="com.ncr.jpossim.JposServiceInstanceFactorySim" serviceClass="com.ncr.jpossim.ScannerServiceSim"/>
    <vendor name="NCR" url="http://www.ncr.com"/>
    <jpos category="Scanner" version="1.7"/>
    <product description="Fiscal printer EMU" name="Fiscal Printer" url="http://www.ncr.com"/>
    <prop name="button_01" value="ERR_FAILURE,Generic failure, false, 30"/>
    <prop name="onOff" value="false, 2"/>
  </JposEntry>

  <JposEntry logicalName="LineDisplay.1">
    <creation factoryClass="com.ncr.jpossim.JposServiceInstanceFactorySim" serviceClass="com.ncr.jpossim.LineDisplayServiceSim"/>
    <vendor name="Xyz, Corp." url="http://www.javapos.com"/>
    <jpos category="LineDisplay" version="1.4a"/>
    <product description="Example virtual LineDisplay JavaPOS Service from virtual Xyz Corporation" name="Xyz Virutal LineDiaply Service for JavaPOS(TM) Standard" url="http://www.javapos.com"/>
    <!--Other non JavaPOS required property (mostly vendor properties and bus specific properties i.e. RS232 )-->
    <prop name="button_01" value="ERR_FAILURE,Generic failure, false, 0"/>
    <prop name="onOff" value="false, 2"/>
  </JposEntry>

  <JposEntry logicalName="KeyLock.1">
    <creation factoryClass="com.ncr.jpossim.JposServiceInstanceFactorySim" serviceClass="com.ncr.jpossim.KeylockServiceSim"/>
    <vendor name="NCR" url="http://www.ncr.com"/>
    <jpos category="Keylock" version="1.7"/>
    <product description="Keylock" name="Keylock" url="http://www.ncr.com"/>
    <prop name="onOff" value="true, 2"/>
  </JposEntry>

  <JposEntry logicalName="POSPrinter.1">
    <creation factoryClass="com.ncr.jpossim.JposServiceInstanceFactorySim" serviceClass="com.ncr.jpossim.PosPrinterServiceSim"/>
    <vendor name="NCR" url="http://www.ncr.com"/>
    <jpos category="POSPrinter" version="1.7"/>
    <product description="POSPrinter" name="POSPrinter" url="http://www.ncr.com"/>
    <prop name="row" value="20"/>
    <prop name="column" value="100"/>
    <prop name="receiptColumn" value="40"/>

    <prop name="button_01" value="REC_EMPTY,Receipt Empty, false, 30"/>
    <prop name="button_02" value="COVER_OPEN,Cover open, false, 30"/>
    <prop name="button_03" value="PRINTER_BUSY,Printer busy, false, 30"/>
    <prop name="button_04" value="PRINTER_JAM,Paper Jam, false, 30"/>
    <prop name="button_05" value="PRINTER_DISCONNECTED,Printer disconnected, false, 30"/>

    <prop name="journalFile" value="log/PrnJournal.txt"/>
    <prop name="logfile" value="log/posprintersim.log"/>
    <prop name="loglevel" value="INFO"/>
    <prop name="onOff" value="false, 2"/>
  </JposEntry>

  <JposEntry logicalName="MSR.1">
    <creation factoryClass="com.ncr.jpossim.JposServiceInstanceFactorySim" serviceClass="com.ncr.jpossim.MSRServiceSim"/>
    <vendor name="NCR" url="http://www.ncr.com"/>
    <jpos category="MSR" version="1.7"/>
    <product description="MSR" name="MSR" url="http://www.ncr.com"/>
    <prop name="onOff" value="false, 2"/>
  </JposEntry>

  <JposEntry logicalName="ToneIndicator.1">
    <creation factoryClass="com.ncr.jpossim.JposServiceInstanceFactorySim" serviceClass="com.ncr.jpossim.ToneIndicatorServiceSim"/>
    <vendor name="NCR" url="http://www.ncr.com"/>
    <jpos category="MSR" version="1.7"/>
    <product description="MSR" name="MSR" url="http://www.ncr.com"/>
  </JposEntry>

  <JposEntry logicalName="CashDrawer.1">
    <creation factoryClass="com.ncr.jpossim.JposServiceInstanceFactorySim" serviceClass="com.ncr.jpossim.CashDrawerServiceSim"/>
    <vendor name="NCR" url="http://www.ncr.com"/>
    <jpos category="CashDrawer" version="1.5"/>
    <product description="cash drawer" name="cash drawer" url="http://www.ncr.com"/>
    <prop name="TimeOut" type="String" value="5"/>
    <prop name="button_01" value="ERR_FAILURE,Generic failure, false, 30"/>
    <prop name="button_02" value="ERR_NOHARDWARE,Disconnected, false, 30"/>
  </JposEntry>

</JposEntries>
